header{
    display: flex;
    h1{
        width: auto;
        padding-left: $gutter;
    }
}

#hamburgerBtn{
    display: none;
}
nav{
    padding-left: $gutter;
    ul{
        display: flex;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    ul li{border-right: 1px solid rgba(0, 0, 0, 0.1);}
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: $gutter;

    gap: 32px;

    h1,p,h2{
        grid-column: 1 / span 2;
    }
    h1,h2,p,section{margin: 0;}
    

    #testimonials{
        grid-column: 1 / span 2;
        grid-template-columns: 1fr 1fr 1fr;

        gap: 32px 0;

        justify-items: center;
    }
}

footer {
    display: grid;
    grid-template-columns: auto auto;

    .contact{
        grid-row: 1 / span 2;
        padding: 32px;
    }

    .location{
        address{
            font-size: 1.2rem;
        }
    }

    .social{
        grid-row: 1;
        grid-column: 2;
    }

    .legal{
        grid-column: 1 / span 2;
    }
}